<div class="container">
  
  <h2>Edit member</h2>
  
  <form action="/members/<%= @members.id %>" method="post">
    
    <div class="name">
      <label for="name">Full name</label>
      <div>
        <input type="text" name="name" placeholder="" value="<%= @members.name %>">
      </div>
    </div>
    
    <div class="email">
      <label for="email">E-mail</label>
      <div>
        <input type="text" name="email" placeholder="" value="<%= @members.email %>">
      </div>
    </div>
    
    <div class="mobile-number">
      <label for="mobile-number">Mobile number</label>
      <div>
        <input type="text" name="mobile_number" placeholder="" value="<%= @members.mobile_number %>">
      </div>
    </div>
    
    <input type="submit" value="Submit">
    
    <h4> <a class="back" href="/members/<%= @members.id %>">Back</a> </h4>
    
  </form>
  
</div>
