<div class="container">

  <h2><%= @member.name %></h2>

  <p>Post code: <%= @member.post_code %></p>
  <p>Date of birth: <%= @member.date_of_birth %></p>
  <p>E-mail: <%= @member.email %></p>
  <p>Mobile number: <%= @member.mobile_number %></p>

  <form action="/members/<%= @member.id %>/edit" method="get"><input type="submit" value="Edit"></form>
  <form action="/members/<%= @member.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

  <p> <a href="/members">Back</a> </p>

</div>
