<h3> <%= attendence.gymclass().name %></h3>
<p> <%= attendence.member().name %> </p>
<p><%= attendence.get_members_in_gymclass().first.name %></p>

<% @gymclasses.each do |gymclass| %>

<h3> <%= attendence.gymclass().name %></h3>
<p><% members = attendence.get_members_in_gymclass() %></p>
<p><% for member in members %></p>
<p> <%= member.name %> </p>
<p> <a href="/attendences/<%= attendence.id %>">Show booking</a> </p>
<% end %>
<% end %>
