<div class="container">
  
  <h2>Edit Booking</h2>
  
  <form action="/attendences/<%= @attendences.id %>" method="post">
    
    <h3><%= @attendences.member().name %></h3>
    
    <input hidden type="text" name="member_id" value="<%= @attendences.member_id %>">
    
    <div class="class_select">
      <label for="class_select">Select a class</label>
      <div>
        <select name="gymclass_id" value="<%= @attendences.gymclass_id%>">
          <% for gymclass in @gymclasses %>
          <% if gymclass.id == @attendences.gymclass_id %>
          <option value=<%= gymclass.id %>  selected > <%= gymclass.name %></option>
          <% else %>
          <option value=<%= gymclass.id %>> <%= gymclass.name %></option>
          <% end %>
          <% end %>
        </select>
      </div>
    </div>
    
    <input type="submit" value="Submit">
    
    <h4> <a class="back" href="/attendences">Back</a> </h4>
    
  </form>
  
</div>
