<div class="container">

  <h1>Booking details</h1>

  <p>Member: <%= @attendence.member().name %> </p>
  <p>Class: <%= @attendence.gymclass().name %> </p>
  <p>Duration: <%= @attendence.gymclass().duration %></p>
  <p>Instructor: <%= @attendence.gymclass().instructor %></p>

  <form action="/attendences/<%= @attendence.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
  <form action="/attendences/<%= @attendence.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

  <p> <a href="/attendences">Back</a> </p>

</div>
