<div class="container">

  <h2><%= @gymclass.name %></h2>

  <p>Duration: <%= @gymclass.duration %></p>
  <p>Calories: <%= @gymclass.calories %> KCal estimated to burn</p>
  <p>Instructor: <%= @gymclass.instructor %></p>

  <form action="/classes/<%= @gymclass.id %>/edit" method="GET"><input type="submit" value="Edit"></form>
  <form action="/classes/<%= @gymclass.id %>/delete" method="POST"><input type="submit" value="Delete" id="delete-button"></form>

  <h4> <a href="/classes">Back</a> </h4>

</div>
